<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	  
      <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"> </meta>
      <title>Administracion de Propiedades</title>
      <link href="/css/main.css" rel="stylesheet"> </link>
      <link href="/css/bootstrap.css" rel="stylesheet"> </link>
      <link href="/css/responsive.css" rel="stylesheet"> </link>
      <link href="/css/font-awesome.min.css" rel="stylesheet"> </link>
</head>
<body>
	<header id="header" class="header-page"><!--Header de la página  -->
            <div class="header_top"><!-- Parte superior del header-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="contactinfo">
                                <ul class="nav nav-pills">
                                    <li><a href="#"><i class="fa fa-phone"></i> +34 91 99 99 999</a></li>
                                    <li><a href="#"><i class="fa fa-envelope"></i> info@adminvasd.es</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="social-icons pull-right">
                                <ul class="nav navbar-nav">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Fin de la parte superior del header -->
            <div class="header-middle"><!-- Parte media del header. Contiene el logotipo y enlaces a la cuenta, pedido, carrito y login -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="logo pull-left">
                                <a href="index.html"><img src="images/logotipo.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="shop-menu pull-right">
                                <ul class="nav navbar-nav">
                                    <li><a href="http://localhost:8080/"><i class="fa fa-user"></i> Página Principal</a></li>                                    
                                    <li><a href="#"><i class="fa fa-user"></i> Cuenta</a></li>                                    
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i> Contratar</a></li>
                                    <li><a href="#"><i class="fa fa-lock"></i> Iniciar sesión</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Fin de la parte media del header -->
            <div class="header-bottom"><!-- Parte inferior del header. Contiene el menú -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div><!-- Fin de la parte inferior del header -->
        </header>

	
	<h2 class="title text-center">Administrador de Comunidades</h2>
	<table class="table table-striped" border ="1" align="center">
	<tr>
		<td colspan="6" align="center">COMUNIDADES</td>
	</tr>
	<b><tr align="center">
		<td>CIF</td>
		<td>CP</td>
		<td>Poblacion</td>
		<td>Cuenta Bancaria</td>
		<td>Calle</td>
		<td>Numero</td>
	</tr></b>
	<tr th:each="comunidad : ${comunidad}">
		<td>
			<span th:text="${comunidad.cif}"></span>
		</td>
		<td>
			<span th:text="${comunidad.codigopostal}"></span>
		</td>
		<td>
			<span th:text="${comunidad.poblacion}"></span>
		</td>
		<td>
			<span th:text="${comunidad.cuentabancaria}"></span>
		</td>
		<td>
			<span th:text="${comunidad.calle}"></span>
		</td>
		<td>
			<span th:text="${comunidad.numero}"></span>
		</td>
	
	</tr>
	
	
	</table>
	<br></br>
	<br></br>
	
	
	<table border ="1" align="center" class="table table-striped">
	<tr>
		<td colspan="12" align="center">PROPIEDADES</td>
	</tr>
	 <tr align="center">
		<td><b>ID</b></td>
		<td><b>NOMBRE</b></td>
		<td><b>APELLIDOS</b></td>
		<td><b>DNI</b></td>
		<td><b>DIRECCION</b></td>
		<td><b>TELEFONO</b></td>
		<td><b>PERTENECE A</b></td>
		<td><b>PORTAL</b></td>
		<td><b>PLANTA</b></td>
		<td><b>LETRA</b></td>
		<td><b>PORCENTAJE</b></td>
		<td><b>CUENTA BANCARIA</b></td>
	</tr>
	<tr th:each="propiedad : ${propiedad}">
		<td>
			<span th:text="${propiedad.id}"></span>
		</td>
		
		<td>
			<span th:text="${propiedad.nombre}"></span>
		</td>
		<td>
			<span th:text="${propiedad.apellidos}"></span>
		</td>
		<td>
			<span th:text="${propiedad.dni}"></span>
		</td>
		<td>
			<span th:text="${propiedad.direccion}"></span>
		</td>
		<td>
			<span th:text="${propiedad.telefono}"></span>
		</td>
		<td>
			<span th:text="${propiedad.pertenecea}"></span>
		</td>
		<td>
			<span th:text="${propiedad.portal}"></span>
		</td>
		<td>
			<span th:text="${propiedad.planta}"></span>
		</td>
		<td>
			<span th:text="${propiedad.letra}"></span>
		</td>
		<td>
			<span th:text="${propiedad.porcentaje}"></span>
		</td>
		<td>
			<span th:text="${propiedad.numcuentabancaria}"></span>
		</td>
	
	</tr>
	
	
	</table>
	<br></br>
	<br></br>
	
	<table align="center">
	<tr>
	<td>
		<form id="anadircom" action="/anadircom">
			<input type="submit" name="anadir" value="Añadir Comunidad" />
		</form>
	</td>
	<td>
		<form id="anadirpro" action="/anadirpro">
			<input type="submit" name="anadir" value="Añadir Propiedad" />
		</form>
	</td>
	<td>
		<form id="proconsultar" action="/consultarpropiedad">
			<input type="submit" name="consultar" value="Consultar Propiedad" />
		</form>
	</td>
	<td>
		<form id="comconsultar" action="/consultarcomunidad">
			<input type="submit" name="consultar" value="Consultar Comunidad" />
		</form>
	</td>
	</tr>
	</table>
	<footer id="footer"><!-- Footer de la página -->
            <div class="footer-widget"><!-- Parte superior del footer (esta parte tiene cinco secciones) -->
                <div class="container">
                    <div class="row">
                        
                        <div class="col-sm-3"><!--  sección -->
                            <div class="single-widget">
                                <h2>Políticas</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Términos de uso</a></li>
                                    <li><a href="#">Política de privacidad</a></li>                                 
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2"><!--  sección -->
                            <div class="single-widget">
                                <h2>Sobre Administraciones VASD</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Información de la compañía</a></li>
                                    <li><a href="#">Localización</a></li>
                                    <li><a href="#">Programa de afiliación</a></li>
                                    <li><a href="#">Copyright</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 col-sm-offset-1"><!--  sección -->
                            <div class="single-widget">
                                <h2>Recibe las novedades</h2>
                                <form action="#" class="searchform">
                                    <input type="text" placeholder="Su dirección de correo" />
                                    <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                    <p>Introduzca su correo para estar informado sobre las últimas modificaciones</p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom"><!-- Parte inferior del footer -->
                <div class="container">
                    <div class="row">
                        <p class="pull-left">Copyright © 2016 Administraciones VASD. All rights reserved.</p>
                        <p class="pull-right">Designed by <span><a target="_blank" href="https://github.com/AsierRuano/Distribuidos/">GitHub</a></span></p>
                    </div>
                </div>
            </div>
        </footer><!--/Footer-->
</body>

</html>